.black-hole-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #050505 0%, #000 100%);
}

#event-horizon {
  height: 28vmin;
  aspect-ratio: 1/1;
  background: #000;
  border-radius: 50%;
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.9);
}

#gravitational-lens {
  position: absolute;
  height: 32vmin;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 6vmin solid rgba(255, 255, 255, 0.9);
  filter: blur(15px);
  box-shadow:
    inset 0 0 50px white,
    0 0 50px white;
}

#accretion-disk {
  position: absolute;
  width: 80vmin;
  height: 1.5vmin;
  background: white;
  border-radius: 50%;
  transform: rotate(-2deg);
  box-shadow:
    0 0 10px #fff,
    0 0 30px rgba(255, 255, 255, 0.6),
    0 0 70px rgba(255, 255, 255, 0.2);

  filter: blur(1px);
}

#accretion-disk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  height: 300%;
  background: radial-gradient(
    ellipse,
    rgba(255, 255, 255, 0.15) 0%,
    transparent 70%
  );
  filter: blur(10px);
}

.black-hole-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 0%,
    transparent 70%
  );
  pointer-events: none;
}
