.Contact {
  min-height: calc(100dvh - 4.5vmin);
  padding-top: var(--top-padding);
  padding-inline: 4vmin;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5vmin;
}

.Contact p {
  padding: 2.5vmin;
  font-size: 3.5vmin;
  text-indent: 5vmin;
}

.Contact p::first-letter {
  font-size: var(--large-font-size);
}

.Contact form {
  padding: 2.5vmin;
  border: 2.5px solid var(--theme-color);
  border-radius: 2.5vmin;
  display: grid;
  gap: 2.5vmin;
}

.Contact span {
  text-align: center;
  font-size: 3.5vmin;
  font-weight: bold;
}

.Contact input,
.Contact textarea,
.Contact button {
  padding: 0.25rem;
  padding-left: 1vmin;
  font-size: var(--medium-font-size);
  font-weight: normal;
  outline: none;
  background-color: var(--theme-bg-color);
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
  border-radius: 1vmin;
}

.Contact input:focus,
.Contact textarea:focus {
  outline: 0.5px solid var(--theme-color);
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.name-email-container {
  display: flex;
  justify-content: space-between;
}

.name-email-container .form-inputs {
  width: 48%;
}

.Contact button {
  cursor: pointer;
  border-radius: 1vmin;
  font-size: 3vmin;
  font-weight: bold;
  background-color: rgb(0, 255, 0);
  color: var(--theme-bg-color);
  transition: background-color 250ms linear, color 250ms linear;
}

.Contact button:hover {
  background-color: var(--theme-bg-color);
  color: rgb(0, 255, 0);
}

@media (max-width: 1024px) {
  .Contact {
    flex-direction: column;
  }

  .Contact p {
    width: 75%;
  }
}

@media (max-width: 720px) {
  .name-email-container {
    flex-direction: column;
  }

  .name-email-container .form-inputs {
    width: 100%;
    margin-top: 2.5vmin;
  }
}
