#bg-circle,
#bg-line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 0.85vmin solid white;
}

#bg-circle {
  height: 50vmin;
  aspect-ratio: 1/1;
  border-width: 15px;
  border-radius: 50%;
  box-shadow:
    0px 0px 6rem white,
    0px 0px 2.5rem white,
    inset 0px 0px 3.5rem white;
}

#bg-line {
  transform-origin: 0%;
  height: 0vmin;
  width: 85vmin;
  border-radius: 50%;
  box-shadow:
    0px 0px 2.5rem white,
    0px 0px 4.5rem white;
  rotate: -15deg;
}
