.Navbar {
  user-select: none;
  height: 5vmin;
  position: relative;
  display: flex;
  justify-content: center;
}

.Navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.25vmin;
  width: 90vmin;
  background-color: white;
}

.Navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10vmin;
  padding: 0px 2vmin;
  margin: 0px;
}

.Navbar li {
  overflow-x: visible;
  margin: 0px;
  padding: 0px;
  width: 18vmin;
  display: flex;
  justify-content: center;
  transition: width 250ms ease-in;
}

.Navbar li:hover {
  width: 30vmin;
  text-align: center;
}

.Navbar a {
  width: 100%;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: font-bold 250ms linear;
}

.Navbar a:hover {
  font-weight: bold;
}
