.Skills {
  padding: 6vmin 4vmin;
  padding-top: var(--top-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Skills h2 {
  font-size: var(--large-font-size);
  margin-bottom: 5vmin;
  color: var(--theme-color);
  letter-spacing: 0.05em;
}

.skills-card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3vmin;
  width: 100%;
  max-width: 1975px;
}
