.Skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vmin;
    width: 45vmin;
    margin: 2.5vmin;
    padding: 2.5vmin;
    border-radius: 2.5vmin;
    background-color: rgba(255, 255, 255, 0.2);
    color:white;
    text-decoration: none;
    transition: scale 250ms ease-in-out;
}

.inverted .Skill-card {
    background-color: rgba(0, 0, 0, 0.2);
    color:black;
}

.Skill-card:hover {
    background-color: transparent;
    box-shadow: 0px 0px 5px 5px white;
    scale:1.1;
}

.inverted .Skill-card:hover {
    box-shadow: 0px 0px 5px 5px black;
}

.Skill-card img {
    height: 10vmin;
    width: 10vmin;
}

.Skill-card:hover #GitHub {
    box-sizing: content-box;
    background-color: white;
    border-radius: 50%;
}

.inverted .Skill-card:hover #GitHub {
    background-color: none;
    border-radius: 0%;
}

.Skill-card h3 {
    display: inline-block;
    font-size: 4vmin;
}

.Skill-card p {
    font-size: 2.5vmin;
    text-indent: 3.5vmin;
}

.skill-level span {
    font-size: 3vmin;
}