.Skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vmin;
    width: 45vmin;
    margin: 2.5vmin;
    padding: 2.5vmin;
    border: 2.5px solid var(--theme-color);
    border-radius: 2.5vmin;
    background-color: var(--theme-bg-color);
    color: var(--theme-color);
    text-decoration: none;
    transition: scale 250ms ease-in-out;
}

.Skill-card:hover {
    background-color: transparent;
    box-shadow: 0px 0px 5px 5px var(--theme-color);
    scale: 1.1;
}

.inverted .Skill-card:hover {
    box-shadow: 0px 0px 5px 5px black;
}

.Skill-card img {
    height: 10vmin;
    width: 10vmin;
}

.Skill-card:hover #GitHub {
    box-sizing: content-box;
    background-color: white;
    border-radius: 50%;
}

.inverted .Skill-card:hover #GitHub {
    background-color: none;
    border-radius: 0%;
}

.Skill-card h3 {
    display: inline-block;
    font-size: 4vmin;
}

.Skill-card p {
    font-size: 2.25vmin;
    font-weight: normal;
    text-indent: 3.5vmin;
    text-align: center;
}