body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "RobotoMono";
  font-size: 1.75vmin;
  word-spacing: -0.25rem;
}

@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/RobotoMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 720px) {
  body {
    font-size: 2.75vmin;
  }
}
